    <footer class="footer inverse">
      <div class="container">
        <div class="footer-content">
          <a href="/" class="logo">
            <img src="./img/logo.png" alt="">
          </a>

          <div class="footer-address"></div>
          <div class="footer-phone">Телефоны:
            <br>
            <a href="tel:+" class="text-phone" id="phone_number">+ 7 (727) 317 - 01 - 64</a>

            <br>
            <a href="tel:+" class="text-phone" id="phone_number">+ 7 778 997 - 26 - 30</a>

          </div>
          <div class="footer-comand">Созддано командой
            <br>
            <img src="./img/marketing-time.png" alt="">
          </div>
        </div>
      </div>
    </footer>
  </div>

  @@include('../partials/_zvonok-modal.html')

  @@if(isIndex == true) {
    @@include('../partials/_modals.html')
  }

  <script src="./js/libs.min.js"></script>
  <script src="./js/main.min.js"></script>
</body>

</html>