<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">

  <title>Главная страница</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:image" content="path/to/image.jpg">
  <link rel="shortcut icon" href="img/favicon.ico?v=10" type="image/x-icon">
  <link rel="stylesheet" href="./css/libs.min.css">
  <link rel="stylesheet" href="./css/main.min.css">
</head>

<body id="main-page">

  <div class="page-wrapper">

    <div class="page-top"><i class="fa fa-angle-double-up"></i></div>
    <a href="tel:+" id="callMe" class="call-me"><i class="fa fa-phone"></i></a>

    <header class="header inverse">
      <div class="container">
        <div class="header-content">
          <a href="/" class="logo">
            <img src="./img/logo.png" alt="">
          </a>

          <h3 class="header-title">
            Автосервис в Твери
          </h3>

          <div class="grow"></div>

          <div class="header-grafik">
              Время работы: <br>
              Пн.-Сб.:10:00-19:00
          </div>

          <div class="header-phone hidden-xxs">
            <a href="tel:+8 963 153-04-04" class="text-phone" id="phone_number">8 963 153-04-04</a> <br>
            <a href="tel:+8 903 803-22-54" class="text-phone" id="phone_number">8 903 803-22-54</a>
          </div>

          <a href="#" class="button" data-remodal-target="zvonok-modal">Заказать обратный звонок</a>

          <button class="hamburger hamburger--elastic hamburger--accessible">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
      <nav class="main-menu">
        <div class="container">
          <ul>
            <li>
              <a class="link" href="#quarantee">Главная</a>  
            </li>
            <li>
              <a class="link" href="#praktika">Автомеханики</a>
            </li>
            <li>
              <a class="link" href="#why">Услуги</a>
            </li>
            <li>
              <a class="link" href="#sfera">Отзывы</a>
            </li>
            <li>
              <a class="link" href="#osnovatel">Гарантии</a>
            </li>
            <li>
              <a class="link" href="#osnovatel">Марки</a>
            </li>
            <li>
              <a class="link" href="#osnovatel">Полезные советы</a>
            </li>
            <li>
              <a class="link" href="#contact">Контакты</a>
            </li>
            <li class="visible-xs visible-sm">
              <a href="tel:+8 963 153-04-04" class="text-phone" id="phone_number">8 963 153-04-04</a> <br>
            </li>
            <li class="visible-xs visible-sm">
              <a href="tel:+8 903 803-22-54" class="text-phone" id="phone_number">8 903 803-22-54</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>