@import './vars';
@import './_mixins/hexagon';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: $text_color;
  text-decoration: none;

  .inverse & {
    color: #fff;
  }
}

input, button, textarea, a {
  outline: none;
}

p {
	margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.inverse {
  color: #fff;
}

.accent {
  color: $accent;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.text {
  &-phone {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.hamburger {
  display: none;
  margin-left: 20px;
}

.grow {
  flex-grow: 1;
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 8px 5px;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  background-color:$accent;
  color: #000 !important;
  border: 2px solid $accent;
  cursor: pointer;

  &:hover {
    // background-color: #fff;
    background-color: transparent;
    border: 2px solid $accent;
    color: #fff !important;
  }    

  &:active {
    top: 1px;
  }
}

.input-div {
  position: relative;
  
  .input {
    width: 100%;  
  }
}

.input, .textarea {
  color: #fff;
  font-size: 14px;
  line-height: inherit;
  border: 2px solid #fff;
  background-color: transparent;
  font-family: $default_family, sans-serif;
  padding: 7px 10px 7px 10px;   

  &.error {
    border-color: red;
    color: red;

    &+.error-message {
      display: block;
    }
  }

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 12px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #fff;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #fff;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #fff;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.form {
  position: relative;  

  &-block {
    max-width: 940px;
    background-color: $black;
    margin: 0 auto;
    padding: 20px 0;

    .form {
      &-content {
        padding: 0;
      }

      &-bottom {
        max-width: 670px;
        margin: 0 auto;

        .checkbox {
          margin-top: -1px;
        }
      }
    }
  }

  &--vertical {
    max-width: 350px;
    background-color: $black;
    padding: 20px;

    .form {
      &-content {
        flex-direction: column;
        align-items: center;

        .input-div {
          margin-right: 0;
        }    
        
        .button {
          padding: 8px 2px;
          letter-spacing: -0.5px;
        }
      }

      &-title {
        margin-bottom: 22px;
        letter-spacing: -0.7px;
      }

      &-skidka {
        font-size: 12px;
        font-weight: 500;
        color: #000;
        margin-bottom: 32px;
        position: relative;
        letter-spacing: -0.5px;
        z-index: 0;
        left: -12px;
        &::before {
          content: "";
          position: absolute;
          background-image: url('../img/form-figure.png');
          width: 199px;
          height: 40px;
          z-index: -1;
          left: -22px;
          top: -15px;
        }
      }

    }
  }
  
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 670px;
    margin: 0 auto;
    padding: 0 20px 0;
  }

  &-title {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
  }

  .input-div {
    margin-right: 20px;
  }

  .input-div, .button {
    margin-bottom: 10px;
    width: 200px;
  }

  &-bottom {
    display: flex;
    align-items: flex-start;

    .checkbox {
      margin-top: 3px;
    }
  }
  
  &-info {
    font-size: 10px;
    text-align: left;
    color: #fff;
    margin-left: 10px;
    letter-spacing: normal;

    a {
      margin-left: 3px;
      color: $accent; 
      white-space: nowrap;
      text-decoration: underline;
    }
  }
}

.checkbox {
  display: block;
  text-align: left;

  [type="checkbox"], [type="radio"] {
   display: none;

    & + span {
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid $accent;

      &:after {
        display: none;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 13px;
        height: 13px;
        background-image: url('../img/check.png');
      }
    }
    &:checked + span:after {
      display: block;
    }
  }
}

.hexagon {
  @include hexagon();
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}
