
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

  .header {
    .logo {
      margin-right: 20px;
    }
  }

  .main-menu {
    ul {
      margin-left: 272px;
    }

    li {
      margin-right: 35px;
    }
  }

  .section {

    .line {
      display: none;
    }

    &-team {
      .line {
        display: none;
      }

      &-content {
        justify-content: center;
      }

      .member {
        margin: 0 10px 20px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {	

  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;

    .logo {
      margin-right: 0;
    }

    &-title {
      display: none;
    }

    &-grafik {
      display: none;
    }

    &-phone {
      display: none;
    }
  }

  .footer {
    text-align: center;

    &-content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: $black;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }
    
  .form {
    margin: 0 auto;

    &--vertical {
      max-width: 500px;
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .section {

    &-main {
      padding-top: 120px;

      &-content {
        flex-direction: column;
      }

      &-title {
        &-1 {
          margin-bottom: 30px;
        }

        &-2 {
          margin-bottom: 20px;
        }
      }
    }

    &-team {
      .member {
        margin-bottom: 20px;
      }
    }

    &-services {
      &-content {
        display: none;
      }

      .carousel-service {
        display: block;
        
        .service {
          margin: 0 auto;
        }
      }
      
    }

    &-reviews {
      .review {
        &-block {
          padding: 12px 20px 12px 80px;
        }
      }
    }

    &-sovet {
      .member {
        &-image {
          width: 230px;
          height: 210px;
        }
      }
    }

    &-contact {
      &-content {
        flex-direction: column; 
      }

      .map {
        margin-bottom: 20px;
      }
      .contact {
        &-phone {
          margin: 0 0 20px;
        }
      }
      .map, .contact {
        width: 100%;
      }
    }
    
  }  

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

  .form {
    &-content {
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
    }
    .input-div, .button {
      width: 100%;
    }
    .input-div {
      margin-right: 0;
      flex-basis: auto;
    }    
    &-bottom {
      max-width: 500px !important;      
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
      margin-bottom: 20px;
      padding-left: 0;
      text-align: center;

      &::before {
        display: none;
      }
    }

    &-main {
      &-title {
        font-size: 36px;
        max-width: none;
      }
    } 

    &-team {
      .member {
        margin: 0;
      }
    }
    
    &-reviews {
      .review {
        display: block;
        &-block {
          padding: 130px 20px 12px;
          margin-left: 0;
          margin-top: -123px;
        }
        &-author {
          text-align: center;
          margin-bottom: 15px;
        }
        &-summary {
          margin-bottom: 15px;
        }
      }
    }

    &-garant {
      &-content {
        flex-wrap: wrap;
        justify-content: center;
      }
      .garant {
        margin-bottom: 15px;
        &-img {
          margin-bottom: 10px;
        }
        &-remont {
          margin-bottom: 10px;
        }
      }
    }

    &-marka {
      .form {
        background-color: $black;
        padding: 20px;

        &-title {
          color: #fff;
          margin-bottom: 0;
        }
      }
    }

    &-sovet {
      .member {
        &-image {
          width: 255px;
          height: 240px;
        }
      }
    }
      
  }

  #thanks-page {
    .section-thanks {
      &-title {
        font-size: 24px;
      }

      &-text {
        font-size: 18px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

  .call-me {
    display: block;
  }

  .remodal {
    .modal-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    form {
      width: auto;
    }

    &.remodal-small {
      padding: 20px 10px;
    }
  }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
  }
    
  .visible-xxs {
    display: block !important;
  }

	.hidden-xxs {
		display: none !important;
  }

  .form {
    &-content {
      padding: 0;
    }
  }

  .header {
    .button {
      display: none;
    }

    .hamburger {
      margin-left: 0;
    }
  }

  .section {

    &-main {
      padding-top: 90px;

      &-title {
        font-size: 26px;
        margin-bottom: 18px;
        &-1 {
          margin-bottom: 15px;
          font-size: 20px;
        }
        &-2 {
          font-size: 20px;
        }
      }
    }

    &-sovet {
      .carousel-sovet {
        .sovet {
          display: block;
          &-block {
            margin: 15px auto 0;
          }
          &-title {
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }
    }
  }  

  .modal {
    &-title {
      font-size: 20px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
 
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {

}