@import './base';

html, body {
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
	line-height: 1.2;
	font-size: $font_size;
  font-weight: normal;
  font-family: $default_family;
  overflow-x: auto;
  opacity: 1;
  letter-spacing: -1px;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.call-me {
  position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
	cursor: pointer;
  @include circle(50px);
  background-color: #58ea00;
  cursor: pointer;
  display: none;

  .fa {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 5px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  font-size: 14px;
  padding: 0;

  &.scrolled {
    background-color: rgba($black, 1);      
  }

  &-content {
    display: flex;
    align-items: center;
    padding: 15px 0;     
  }

  &-title {
    font-weight: normal;
  }

  .grow {
    // display: none;
  }
  .logo {
    margin-right: 35px;
  }

  .button {
    margin-left: 70px;
  }

  &-phone {
    margin-left: 70px;
  }
}

.footer {
  background-color: $black;


  &-title {
    font-weight: normal;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  
}

.main-menu {    
  background-color: $black;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 10px 0;
  }

  li {
    margin-left: 45px;
  }

  a {
    display: inline-block;
    line-height: 1.5;
    padding: 0 5px;
    text-decoration: none;
    font-weight: normal;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transform: skewX(-15deg);

    &.link:hover, &.active {
        border-left: 1px solid $accent;
        border-right: 1px solid $accent;
        color: $accent;
    }
  }
}

.line {
  position: absolute;
  width: 200%;
  left: -50%;
  height: 3px;
  transform: translateY(-50%);
  background-color: $accent;
}



.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;

  &-title {
    font-size: 30px;
    font-weight: 900;
    padding-left: 120px;
    margin: 0 auto 40px;
    text-align: left;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      background-image: url('../img/klu4.png');
      width: 113px;
      height: 42px;
      left: 0;
      top: -2px;
    }

    &--white {
      color: #fff;
      &::before {
        background-image: url('../img/klu4-green.png');
      }
    }

    .inverse & {
      color: #fff;
    }
  }

  &-main {
    text-align: left;
    padding-top: 170px;
    background-image: url('../img/main-back.jpg');

    &-title {
      font-size: 48px;
      letter-spacing: -1px;
      font-weight: 900;
      color: $accent;
      max-width: 630px;
      margin-bottom: 23px;
      &-1 {
        font-size: 24px;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 60px;
      }
      &-2 {
        font-size: 24px;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
    }
  }

  &-team {
    .line {
      top: 50%;
    }

    &-content {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    

    .member {
      display: inline-block;
      padding: 5px;
      position: relative;
      // background-color: red;
      background-color: transparent;

      &-image {
        width: 255px;
        height: 240px;      
        background-color: $accent;  
      }

      &-title {
        position: absolute;
        color: #fff;
        text-align: left;
        width: 190px;
        padding: 12px 12px 12px 65px;
        background-color: rgba($black, 0.9);
        bottom: 17px;
        left: 0px;
        z-index: 1;
      }      
    }
  }

  &-services {

    .carousel-service {
      display: none;
    }
    
    .line {
      top: 235px;
    }

    &-content {
      position: relative;
      z-index: 0;  
      display: flex;
      justify-content: center;
    }
    .service {
      margin-right: 30px;
      position: relative;
      max-width: 260px;
      margin-bottom: 30px;
      &:last-child {
        margin-right: 0;
      }
      &-img {
        // position: relative;
        margin-bottom: 12px;
      }
      &-title {
        position: absolute;
        font-size: 16px;
        font-weight: normal;
        color: #fff;
        text-align: left;
        left: 15px;
        bottom: 75px;
      }

      .button {
        width: 100%;
        padding: 11px 8px;
        &:hover {
          background-color: #fff;
          color: #000 !important;
        }
      }
    }
  }

  &-reviews {
    background-image: url('../img/reviews-back.png');

    .member {
      display: inline-block;
      padding: 15px;
      position: relative;
      background-color: $accent;

      &-image {
        width: 225px;
        height: 210px;      
      }     
    }

    .review {
      display: flex;
      max-width: 990px;      

      &-block {
        max-width: 800px;
        text-align: left;
        background-color: $black;
        padding: 12px 93px;
        margin-left: -65px;
      }

      &-author {
        color: #fff;
        font-weight: 500;
        margin: 0 0 25px 0;
      }

      &-summary {
        color: $accent;
        font-style: italic;
        margin-bottom: 25px;
      }

      &-text {
        color: #fff;
      }
    }
  }

  &-garant {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    .garant {
      max-width: 340px;
      font-weight: 500;

      &-img {
        margin-bottom: 18px;
        position: relative;
      }

      &-title {
        position: absolute;
        color: #fff;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
      }

      &-remont {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 15px;
      }

      &-vremya {
        font-size: 12px;
      }
    }
  }

  &-marka {
    background-image: url('../img/marka-back.jpg');

    .carousel-marka {
      margin-bottom: 50px;
    }

    .owl-carousel {
      .owl {
        &-dot {
          background: #252525 !important;
          &.active {
            background: #546945 !important;
          }
        }
      }
      
    }
  }

  &-sovet {
    &-content {
      position: relative;
      
      .line {
        top: 120px;
      }
    }
    .carousel-sovet {
      position: relative;
      .sovet {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-block {
          max-width: 255px;
          text-align: left;

          .button {
            width: 100%;
            &:hover {
              color: #000 !important;
            }
          }
        }
        &-title {
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 45px;
        }
      }
    }

    .member {
      display: inline-block;
      position: relative;

      &-image {
        width: 255px;
        height: 240px;      
        background-color: $accent;  
        // background-position: center center;
        // background-size: cover;
      }
    }
  }

  &-contact {
    &-content {
      display: flex;
      justify-content: space-between;

      
    }
    .contact {
      &-phone {
        margin: 40px 0 80px;
        font-size: 16px;
        position: relative;
        padding-left: 55px;
        &::before {
          content: "";
          position: absolute;
          width: 34px;
          height: 34px;
          background-image: url('../img/phone-icon.png');
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &-address {
        font-size: 16px;
        position: relative;
        padding-left: 55px;
        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 40px;
          background-image: url('../img/address-icon.png');
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .map, .contact {
      width: 48%;
      text-align: left;
    }
  }

}



#thanks-page {   

  .section-thanks {
    padding: 170px 0 0 0;
    background-image: url('../img/main-back.jpg');
    flex-grow: 1;
  
    &-content {
      display: flex;
      flex-direction: column;
      text-align: left;  
    }
    
    &-title {
      font-size: 48px;
      font-weight: 900;
      margin-bottom: 25px;
      color: $accent;
    }

    &-text {
      font-size: 24px;
      margin: 0 0 60px;
      color: #fff;
    }
  
    &-link {
      text-decoration: underline;
      display: inline-block;
      color: #fff;
    }
  }
}


.modal {
  background-color: $black;
  text-align: center;

  &-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 30px;
  }

  form {
    margin: 0 auto;
    width: 200px;
  }

  .form {
    &-info {
      letter-spacing: 0;      
    }
    &-bottom {
      max-width: 250px;
      margin: 10px auto 0;
    }
  }

  .input-div {
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
  }
}

.more {
  background-color: $black;
  max-width: 455px;

  .sovet {

    &-title {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        color: #fff;
        margin-bottom: 20px;
        span {
          color: #9bce74;
        }
      }
    }
  }
}

.more-politika {
  background-color: $black;
  .politika {
    &-title {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      text-align: center;
    }

    ul {
      padding: 0;
      li {
        font-size: 12px;
        list-style: none;
        color: #fff;
        margin-bottom: 20px;
        span {
          color: #9bce74; 
        }
      }
    }
  }
}



@import './_media';